body{
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/261/421/81/technology-electronic-engineering-electronics-green-wallpaper-preview.jpg);
    background-size: cover;
}

.container-box {
    background: rgba(0, 255, 255, 0.424);
    width: 400px;
    height: 350px;
    border-radius: 10px;
    margin: auto;
    margin-top: 250px;
    padding: 30px;
    border-radius: 50px;
}

.form-control {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
}

button {
    width: 100%;
    background: black;
    color: #fff;
    padding: 12px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
}

.reg a {
    text-decoration: none;
    color: red;
}